beautifulsoup4
gevent
greenlet
gunicorn
Jinja2
Mako
mycli
numpy
Pillow
pycurl
PyMySQL
redis
requests
setuptools
SQLAlchemy
thefuck
tornado
ufw
urllib3
virtualenv
Werkzeug
wheel
WTForms
Flask
Flask-Cache
Flask-DebugToolbar
Flask-Exceptional
Flask-Login
Flask-Mail
Flask-RESTful
Flask-Script
Flask-SqlAlchemy
Flask-Uploads
Flask-WTF
