# tools
bpython # better python shell https://github.com/bpython/bpython
mycli   # better mysql
#pyenv   # better version control use git not pip
thefuck # deal with wrong in shell
pexpect # python expect, autowork

#Pillow  # image lib https://github.com/python-pillow/Pillow
#wheel   # make a .whl lib

# web tools
# httpie   # better rest client
requests # better http request

#Mako     # template library
#WTForms  # form library
#SQLAlchemy

# web framework
#flask   # quick
#sanic   # cool async python3.5+ https://github.com/channelcat/sanic
#tornado # good for real time

# flask bundler
#Flask-Cache
#Flask-DebugToolbar
#Flask-Exceptional
#Flask-Login
#Flask-Mail
#Flask-RESTful
#Flask-Script
#Flask-SqlAlchemy
#Flask-Uploads
#Flask-WTF

# web services
#gunicorn # https://github.com/benoitc/gunicorn
#uvloop   # asyncio event loop python3.5+ https://github.com/MagicStack/uvloop
#meinheld # asynchronous WSGI Web Server  https://github.com/mopemope/meinheld
#gevent  # better for pythn2 coroutine -based Python networking library https://github.com/gevent/gevent
#greenlet # https://github.com/python-greenlet/greenlet

# database client
#asyncpg # better PostgreSQL client, python3.5+
#PyMySQL # better connect mysql
redis   # redis client

# crawler
#beautifulsoup4

# math
#numpy

# AI
#tensorflow-gpu
